{% load blockobjects_tags %}

<div class="row"> <div class="col-md-2"> Premise 1: </div>
 <div class="col-md-5"> {{ object.premise1|print_link }}  </div>
</div>
<div class="row">  <div class="col-md-2"> Premise 2: </div>
 <div class="col-md-5"> {{ object.premise2|print_link }} </div>
</div>
<div class="row"> <div class="col-md-2 itfollows"> <strong> It follows: </strong> </div>
 <div class="col-md-5"> {{ object.choice_what }}: </div>
</div>
<div class="row">  <div class="col-md-2"> Conclusion: </div>
 <div class="col-md-5"> {{ object.conclusion|print_link }} </div>
</div>
