{% extends "polls/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Premises" %}{% endblock %}

{% block inner %}
<h2>{% trans "Premises" %}</h1>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if premise_list %}
  <a class="link-new-premise" href="{% url 'premises:new' %}">Create another premise!</a>
  <ul>
  {% for premise in premise_list %}
      <li><a id="id_premise{{ forloop.counter }}" href="{% url 'premises:detail' premise.id %}">
        {{ premise.subject }} {{ premise.predicate }} {{ premise.object }} {{ premise.complement }}
      </a></li>
  {% endfor %}
  </ul>
{% else %}
    <p>No premises are available. <a class="link-new-premise" href="{% url 'premises:new' %}">Create the first premise!</a></p>
{% endif %}

{% endblock %}
