{% extends "polls/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Premises" %}{% endblock %}

{% block inner %}
<h1>{% trans "Premises" %}</h1>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_premise_list %}
  <ul>
  {% for premise in latest_premise_list %}
      <li><a id="id_premise{{ forloop.counter }}" href="{% url 'premises:detail' premise.id %}">{{ premise.subject }}</a></li>
  {% endfor %}
  </ul>
{% else %}
    <p>No premises are available.</p>
{% endif %}

{% endblock %}
