{% for data in plot_data %}
  <div class="row">{{ data.label }}:</div>
    <div id="id_choice{{ forloop.counter }}" class="row bar" style="width:{{data.bar_width}}px">
      {{ data.bar_text }}</div>
{% endfor %}
{% if plot_data2 %}
    <div class="row">--------------------------------------------------------------------</div>
    {% for data in plot_data2 %}
      <div class="row">{{ data.label }}:</div>
        <div id="id_choice{{ forloop.counter }}" class="row bar" style="width:{{data.bar_width}}px">
          {{ data.bar_text }}</div>
    {% endfor %}
{% endif %}
