{% extends model_namespace|add:"/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %} New {{ object_name_upper }} {% endblock %}

{% block inner %}
<h1>New {{ object_name_upper }}</h1>

<form class="new_{{ object_name_lower }}"
      id="new_{{ object_name_lower }}_form"
      method="post"
      action="{{ request.get_full_path }}">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-primary" type="submit"> submit {{ object_name_lower }} </button>
</form>

{% endblock %}

{# {% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}#}
