{% extends object.name|add:"s/base.html" %}

{% load blockobjects %}
{% load static %}

{% block head_title %}Delete {{ object.name|capitalize }}{% endblock %}

{% block inner %}
{% if request.user == object.user and not object.staged %}
  <form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{% print_with_class object %}"?</p>
      <input type="submit" class="btn btn-primary" value="Confirm" />
  </form>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endif %}
{% endblock %}
