{% extends object.namespace|add:"/base.html" %}

{% load blockobjects_tags %}
{% load static %}

{% block head_title %}Delete {{ object_name_upper }}{% endblock %}

{% block inner %}
{% if request.user == object.user and not object.staged %}
  <form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object|print_head }}"?</p>
      <input type="submit" class="btn btn-primary" value="Confirm" />
  </form>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endif %}
{% endblock %}
