{% extends object.namespace|add:"/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load blockobjects_tags %}

{% block head_title %}{{ object }}{% endblock %}
{% block inner %}
  <div class="row">
    <h1> {{ object|print_with_class }} </h1>
  </div>
  {% if already_voted or request.user == object.user %}
    <a class="link_created_by" href="{% url 'users:detail' object.user.username %}">
      <small>created by</small> {{ object.user.username }}
    </a>
    <div class="row">
      <br>
      <h4> Votes </h4>
      {% include "blockobjects/barchart.html" %}
      <br>
    </div>
  {% endif %}
  {% if not already_voted %}
    {% crispy voteform voteform.helper %}
  {% endif %}
  <div class="row">
    {% if already_voted %}
      <div class="col-md-2">
          <a href="{% url object.namespace|add:':update_vote' object.id %}" class="btn btn-secondary">
            edit vote
          </a>
      </div>
    {% endif %}
    {% if request.user == object.user and not object.staged %}
      <div class="col-md-2">
        <a href="{% url object.namespace|add:':delete' object.id %}" class="btn btn-secondary" id='id_delete'>
          delete {{ object.name }}
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}
