{% extends "base.html" %}
{% block title %} visualization
{% endblock title %}
{% load static %}
{% load blockobjects_tags %}

{% block content %}
<input type="text" id="search_field" class="form-control"
 placeholder="search..." value="" size=40 onkeypress="return searchNode(event)">
<svg width="600" height="350"></svg>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'd3/d3.js' %}"></script>
<script src="{% static 'd3-tip/index.js' %}"></script>
<script>
//https://bl.ocks.org/mbostock/ad70335eeef6d167bc36fd3c04378048   Mike Bostock: Force Dragging 3
// http://bl.ocks.org/mbostock/1212215 Mouseover labels
//http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

    svg.append("defs").selectAll("marker")
        .data(["suit"])
      .enter().append("marker")
        .attr("id", function(d) { return d; })
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 25)
        .attr("refY", 0)
        .attr("markerWidth", 3)
        .attr("markerHeight", 4)
        .attr("orient", "auto")
      .append("path")
        .attr("d", "M0,-5L10,0L0,5 L10,0 L0, -5")
        .style("stroke", "#222222")
        .style("opacity", "0.8");

var nodecolor = function(d) {
  var colormap = ["#000000", "#0570b0", "#74a9cf"];
  if (d < 0) {d = -d};
  return colormap[d]; };

var linkcolor = function(d) {
  var colormap = ["#000000", "#e41a1c", "#4daf4a", "#333333"];
  if (d < 0) {d = -d};
  return colormap[d]; };

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink()
      .id(function(d) { return d.id; }))
      // .strength(function(d) { return d.value; }))
    .force("charge", d3.forceManyBody().strength(-30))
    .force("center", d3.forceCenter(width / 2, height / 2));

function do_simulation(node_data, link_data) {

  var link = svg.append("g")
    .selectAll("line")
    .data(link_data)
    .enter().append("line")
      // .attr("stroke-width", function(d) { return Math.sqrt(d.value); })
      // .attr("class", function(d) { return ("forcelink-" + d.aim); })
      .attr("stroke", function(d) { return linkcolor(d.aim);})
      .attr("stroke-dasharray", function(d) { if (d.aim < 0) {return "5"} else {return "0"};})
      .style("marker-end",  "url(#suit)") // Modified line
      .style("stroke-width", "3px");

  var node = svg.selectAll(".node")
      .data(node_data)
    .enter().append("g")
      .attr("class", "node")
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended))
      .on('dblclick', connectedNodes);

  var label = node.append("text")
      .attr("dy", ".35em")
      .attr("visibility", "hidden")
      .attr("class", "node-label")
      .text(function(d) { if (d.name.indexOf("<br>") == -1)
                            {return d.name; }
                            else {return ""; };});

  var circle = node.append("circle")
      .attr("r", 8)
      .attr("fill", function(d) { return nodecolor(d.group); })
      .on('mouseover', tool_tip.show) //Added
      .on('mouseout', tool_tip.hide); //Added

  simulation
      .nodes(node_data)
      .on("tick", ticked);

  simulation.force("link")
      .links(link_data);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
    circle
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
    label
        .attr("x", function(d) { return d.x + 8; })
        .attr("y", function(d) { return d.y; });
  }

  //Toggle stores whether the highlighting is on
  var toggle = 0;
  //Create an array logging what is connected to what
  var linkedByIndex = {};
  for (i = 0; i < node_data.length; i++) {
      linkedByIndex[i + "," + i] = 1;
  };
  link_data.forEach(function (d) {
      linkedByIndex[d.source.index + "," + d.target.index] = 1;
  });
  //This function looks up whether a pair are neighbours
  function neighboring(a, b) {
      return linkedByIndex[a.index + "," + b.index];
  }
  function connectedNodes() {
      if (toggle == 0) {
          //Reduce the opacity of all but the neighbouring nodes
          d = d3.select(this).node().__data__;
          node.style("opacity", function (o) {
              return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
          });
          link.style("opacity", function (o) {
              return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
          });
          //Reduce the op
          toggle = 1;
      } else {
          //Put them back to opacity=1
          node.style("opacity", 1);
          link.style("opacity", 1);
          toggle = 0;
      }
  }
};

var tool_tip = d3.tip()
  .attr("class", "d3-tip")
  .offset([-8, 0])
  .html(function(d) { return d.name; });
svg.call(tool_tip);

function searchNode(event) {
      //find the node
      if (event.keyCode == 8) {
        var labels = svg.selectAll(".node-label");
        labels.attr("visibility", "hidden");
        d3.selectAll(".node, line").style("opacity", 1);
      }
      if (event.keyCode == 13) {
        var labels = svg.selectAll(".node-label");
        labels.attr("visibility", "hidden");
        var selectedVal = document.getElementById("search_field").value;
        var link = svg.selectAll("line");
        link.style("opacity", 0.1);
        var node = svg.selectAll(".node");
        node.style("opacity", 1);
        if (selectedVal == "none") {
            node.style("stroke", "white").style("stroke-width", "1");
        } else {
            var nodes_hidden = node.filter(function (d, i) {
                return d.name.indexOf(selectedVal) == -1;
            });
            var nodes_visible = node.filter(function (d, i) {
                return d.name.indexOf(selectedVal) !== -1;
            });
            nodes_hidden.style("opacity", "0.1");
            nodes_visible.each(function(d,i) {
               d3.selectAll(this.childNodes).attr("visibility", "visible");
               d = d3.select(this).node().__data__;
               link.filter(function (o) {
                   return d.index==o.source.index | d.index==o.target.index;
               }).style("opacity", "1");
            });
        }
      }
}

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

do_simulation({{ nodes|jsonify }}, {{ links|jsonify }})
</script>
{% endblock javascript %}
