{% extends "base.html" %}
{% block content %}
<h2>Welcome!</h2>
<p> In case you too got the feeling that the world not only went completely mad 2016 but always has been
quite insane, you might want to give this a chance. This project aims at increasing logical reasoning,
be it by discourse on the website or by improved critical thinking of its users.
The idea is to bring together two concepts which to my best
knowledge haven't consequently been paired with each other so far: </p>
<ul>
  <li> <em> Argument mapping: </em>
    Users can create visual representations of arguments. </li>
  <li> <em> Voting: </em>
    Users can rate the strength and soundness of arguments. </li>
</ul>
<p>This allows for a democratic discourse, where the "citizens" can not only choose between fine-grained alternatives,
but actively participate in finding new solutions. This is only half the story though, :</p>
<p>If 2016 has reminded us of something, then that people mostly pay attention on how messages are packaged,
while the actual message content is hardly critically assessed.
The necessity of mapping one's argument makes it easier for oneself and for others to evaluate its
strength and soundness, while at the same time making it harder to wrap bad points in nice rethorics.</p>
Because such a system empowers the reasonable individual, I tentatively named my project
<strong>demo</strong>cracy<strong>logic</strong>.
<br>
<br> <p> <b>UPDATE:</b> This project is on ice currently due to limited resources on my part.
Such a site would have to offer a lot of functionality to be successful (see: <a href="https://www.semanticscholar.org/paper/Socially-augmented-argumentation-tools-Rationale-d-Iandoli-Quinto/788e0ca68e4b07838a8ff63c881d15f20e82c244">Socially-Augmented Argumentation Tools</a>),
which I do not deem feasible in the near-term without solid funds and expertise (both of which I do not have, I am working on expertise though).</p>
<p> A comprehensive review of argumentation and (social) argumentation tools can be found
<a href="https://www.semanticscholar.org/paper/A-review-of-argumentation-for-the-Social-Semantic-Schneider-Groza/735c42d986c9c942b878504ec44125802e37f6c0">here.</a> </p>
{% endblock content %}
