{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>
  {% if object == request.user %}
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  {% endif %}
  <br>
  <h4>Work done</h4>
  {% if request.user == object %}You have created {% else %}This user has created {% endif %}
  {{ object.premise_set.count }} premise{{ object.premise_set.count|pluralize }}  and
  {{ object.argument_set.count }} argument{{ object.argument_set.count|pluralize }} so far.
  {# {% include 'blockobjects/object_list.html' with object_list=object.premise_set.filter %}#}

</div>
{% endblock content %}
