{% extends "premises/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load premises %}

{% block head_title %}{{ premise }}{% endblock %}

{% block inner %}
  <link rel="stylesheet" type="text/css" href="{% static 'premises/style.css' %}" />
  <div class="row">
    <h1> {% premise_print_with_class premise %} </h1>
  </div>
  {% if already_voted or request.user == premise.user %}
    <div class="row">
      <a class="link_created_by" href="{% url 'users:detail' premise.user.username %}">
        <small>created by</small> {{ premise.user.username }}
      </a>
    </div>
  {% endif %}
  {% if not already_voted %}
    {% crispy voteform voteform.helper %}
  {% endif %}
  <div class="row">
    {% if already_voted %}
      <div class="col-md-2">
          <a href="{% url 'premises:update_vote' premise.id %}" class="btn btn-secondary">
            edit vote
          </a>
      </div>
    {% endif %}
    {% if request.user == premise.user and not premise.staged %}
      <div class="col-md-2">
        <a href="{% url 'premises:delete' premise.id %}" class="btn btn-secondary" id='id_delete'>
          delete premise
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}
