{% extends "premises/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load premises %}

{% block head_title %}{{ premise }}{% endblock %}

{% block inner %}
  <link rel="stylesheet" type="text/css" href="{% static 'premises/style.css' %}" />
  <h1> {% premise_print_with_class premise %} </h1>
  <a class="link_created_by" href="{% url 'users:detail' premise.user.username %}">
    created by: <h4 class="list-group-item-heading">{{ premise.user.username }}</h4>
  </a>
  {% if request.user == premise.user and not premise.staged %}
    <a href="{% url 'premises:delete' premise.id %}" class="btn btn-secondary" id='id_delete'>
      delete
    </a>
  {% endif %}
  {% if already_voted %}
    <div> You have already voted! You can edit your vote though in case you changed your mind: </div>
  {% endif %}
  {% crispy voteform voteform.helper %}
{% endblock %}
