{% extends "premises/base.html" %}

{% load premises %}
{% load static %}

{% block head_title %}Delete Premise{% endblock %}

{% block inner %}
<link rel="stylesheet" type="text/css" href="{% static 'premises/style.css' %}" />

{% if request.user == premise.user and not premise.staged %}
  <form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{% premise_print_with_class premise %}"?</p>
      <input type="submit" class="btn btn-primary" value="Confirm" />
  </form>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endif %}
{% endblock %}
